.programs-lines {
    margin-top: 26px;
}

.summer-camps {
    display: flex;
}

.summer-camp-poster {
    width: 300px;
}

.summer-camp-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}