.welcome {
    background-color: #E5F1FF;
    padding-top: 65px;
    padding-bottom: 65px;
}

.welcome-icon {
    height: 67px;
    display: block;
    margin: auto;
    margin-bottom: 14px;
}

#welcome-para {
    width: 400px;
    margin-top: 18px;
    margin-bottom: 5px;
}

@media (max-width: 480px) {
    #welcome-para {
        width: 280px;
        margin-top: 10px;
    }

    .welcome {
        background-color: #E5F1FF;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    
}
